1 TYPELIB "C:\\Users\\Cole Swackhamer\\Documents\\MATLAB\\Chromatography\\Final Scripts\\manualint\\for_testing\\manualint_idl.tlb"
2 RT_RCDATA "C:\\Users\\Cole Swackhamer\\Documents\\MATLAB\\Chromatography\\Final Scripts\\manualint\\for_testing\\manualint.ctf"
  
